{% macro file_navigation(files, base_url, ext) %}
    {% from _self import file_navigation,
        _file_navigation_item_args as item_args,
        _file_navigation_anchor_args as anchor_args,
        _file_navigation_icon as icon,
        _file_navigation_path as path,
        _file_navigation_actions as actions %}
    {% if files.index is defined %}
        <li {{ item_args(files.index) }}>
            <div class="item">
                <a {{ anchor_args(files.index, base_url) }}>
                    {{ icon(files.index) }}
                    {{ path(files.index.path) }}<strong>index</strong>{{ ext }}
                </a>
                {{ actions(files.index) }}
            </div>
        </li>
    {% endif %}
    {% for file in files if file.fileName != 'index' %}
        <li {{ item_args(file) }}>
            <div class="item">
                {% if file.id %}
                    <a {{ anchor_args(file, base_url) }}>
                        {{ icon(file) }}
                        {{ path(file.path) }}<strong>{{ file.fileName }}</strong>{{ ext }}
                    </a>
                {% else %}
                    <span>
                        {{ icon(file) }}
                        {{ path(file.path) }}{{ file.fileName }}/
                    </span>
                {% endif %}
                {{ actions(file) }}
            </div>
            {% if file.children %}
                <ul class="fa-ul">
                    {{ file_navigation(file.children, base_url, ext) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro _file_navigation_item_args(file) -%}
    data-id="{{ file.id|escape("html_attr") }}"
    data-path="{{ file.path|escape("html_attr") }}"
    data-file-name="{{ file.fileName|escape("html_attr") }}"
{%- endmacro %}

{% macro _file_navigation_anchor_args(file, base_url) -%}
    href="{{ base_url }}/{{ file.id|escape('html_attr') }}"
    {% if file.error %}
        title="{{ file.error|escape("html_attr") }}"
    {% elseif file.title %}
        title="{{ file.title|escape("html_attr") }}"
    {% endif %}
{%- endmacro %}

{% macro _file_navigation_icon(file) %}
    {% set classNames = "fa fa-li" %}
    {% if file.id %}
        {% if file.error %}
            {% set classNames = classNames ~ " fa-file-o fa-stack-exclamation" %}
        {% elseif file.fileName == '404' %}
            {% set classNames = classNames ~ " fa-file-o" %}
        {% elseif file.title %}
            {% set classNames = classNames ~ " fa-file-text-o" %}
        {% else %}
            {% set classNames = classNames ~ " fa-file-o" %}
        {% endif %}
    {% else %}
        {% set classNames = classNames ~ " fa-folder-o" %}
        {% if file.error %}
            {% set classNames = classNames ~ " fa-stack-exclamation" %}
        {% endif %}
    {% endif %}

    <span class="{{ classNames }}" aria-hidden="true"></span>
{% endmacro %}

{% macro _file_navigation_path(path) %}
    {% if path != '.' %}
        {% set pathParts = path|split('/') %}
        {% if pathParts|length > 2 -%}
            …/{{ pathParts|slice(-2)|join('/') }}/
        {%- else -%}
            {{ path }}/
        {%- endif -%}
    {% endif %}
{% endmacro %}

{% macro _file_navigation_actions(file) %}
    <span class="actions">
        {% if file.id and (file.id != "index") and (file.id != "404") %}
            <span class="delete" title="Delete Page" role="button">
                <span class="fa fa-trash-o fa-fw" aria-hidden="true"></span>
                <span class="sr-only">Delete Page</span>
            </span>
        {% endif %}
        {% if file.children or not file.id %}
            <span class="create" title="Create New Page" role="button">
                <span class="fa fa-plus fa-fw" aria-hidden="true"></span>
                <span class="sr-only">Create New Page</span>
            </span>
        {% endif %}
    </span>
{% endmacro %}
