{# You may overwrite this template by adding a admin-content.twig to your custom theme #}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/1/simplemde.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ admin_theme_url }}/css/admin-content.css" type="text/css" />
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/g/codemirror@4(codemirror.min.js+mode/yaml/yaml.js)" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/1/simplemde.min.js" type="text/javascript"></script>
    <script src="{{ admin_theme_url }}/js/admin-content.js" type="text/javascript"></script>

    <script type="text/javascript">
        var picoContentAdmin = new PicoContentAdmin(picoAdmin);
        picoContentAdmin.init({
            title: {% filter json_encode %}{1} | Pico Admin Panel | {{ site_title }}{% endfilter %},
            contentExt: {{ config.content_ext|json_encode }},
            yamlEditorOptions: utils.extend(
                {{ config.PicoAdmin.PicoContentAdmin.yamlEditor|json_encode }},
                { element: '#module-content .yamlContainer textarea' }
            ),
            markdownEditorOptions: utils.extend(
                {{ config.PicoAdmin.PicoContentAdmin.markdownEditor|json_encode }},
                { element: '#module-content .markdownContainer textarea' },
                { autoDownloadFontAwesome: false }
            ),
            rescueEditorOptions: { element: '#module-content .rescueContainer textarea' }
        });
    </script>

    {% if admin_request.module == "content" %}
        <script type="text/javascript">
            picoContentAdmin.takeOver(
                '{% if not rescue_mode %}{{ admin_request.action }}{% else %}rescue{% endif %}',
                '{{ page_path|escape("js") }}',
                '{{ page_title|escape("js") }}'
            );
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="yamlContainer">
        <h2 class="sr-only">YAML Editor</h2>
        <textarea>{{ yaml_content|escape('html') }}</textarea>
    </section>

    <section class="markdownContainer">
        <h2 class="sr-only">Markdown Editor</h2>
        <textarea>{{ markdown_content|escape('html') }}</textarea>
    </section>

    <section class="rescueContainer hidden">
        <h2 class="sr-only">Rescue Editor</h2>
        <nav class="editor-toolbar">
            <a title="Save" class="save fa fa-floppy-o"></a>
            <i class="separator">|</i>
            <span class="rescue-info"><strong>Rescue Mode:</strong> This file doesn't contain a valid Pico page.</span>
        </nav>
        <textarea>{{ raw_content|escape('html') }}</textarea>
    </section>
{% endblock %}

{% block landing %}
    <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
    <h3>Content Admin</h3>
{% endblock %}
