<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    {% block documentHeader %}
        <title>{% block title %}Pico Admin Panel | {{ site_title }}{% endblock %}</title>
        <meta name="robots" content="noindex,nofollow">
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ admin_theme_url }}/css/utils.css" type="text/css" />
        <link rel="stylesheet" href="{{ admin_theme_url }}/css/admin.css" type="text/css" />

        {% for module in admin_modules %}
            {% if module.template %}
                {{ include_block(module.template, "stylesheets") }}
            {% endif %}
        {% endfor %}
    {% endblock %}
</head>
<body>

    {% block page %}
        <div id="container">
            <header>
                <h1><a href="{{ "index"|link }}">{{ site_title }}</a></h1>
                <nav>
                    <h2 class="sr-only">Navigation</h2>
                    {% block nav %}
                        <ul>
                            {% for moduleName, module in admin_modules %}
                                <li class="module" id="module-{{ moduleName|escape("html_attr") }}-nav">
                                    <div class="headline">
                                        <h3>
                                            <a href="" class="inverse" title="Toggle Navigation" role="button">
                                                {{ module.title }}
                                            </a>
                                        </h3>
                                        <div class="actions hidden"></div>
                                    </div>
                                    <div class="nav">
                                        {% if (admin_request.module == moduleName) and (navigation is defined) %}
                                             {% include "admin-navigation.twig" with { 'items': navigation } only %}
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </nav>
            </header>

            <main>
                {% block content %}
                    <article id="landing">
                        <h2 class="sr-only">Landing Page</h2>

                        <p class="big">
                            <a href="https://xkcd.com/149/" title="Proper User Policy apparently means Simon Says."><code>sudo</code></a> mode
                        </p>
                        <ul>
                            {% for moduleName, module in admin_modules %}
                                {% if module.template %}
                                    <li class="module" id="module-{{ moduleName|escape("html_attr") }}-landing" role="button">
                                        {{ include_block(module.template, "landing") }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </article>

                    {% for moduleName, module in admin_modules %}
                        <article id="module-{{ moduleName|escape("html_attr") }}" class="hidden">
                            {% if module.template %}
                                {{ include_block(module.template, "content") }}
                            {% endif %}
                        </article>
                    {% endfor %}
                {% endblock %}
            </main>
        </div>

        <footer>
            <p>
                <a href="http://picocms.org/docs/pico-admin/">Pico Admin</a> is a plugin for <a href="http://picocms.org/">Pico</a>.
                It was made by <a href="http://daniel-rudolf.de">Daniel Rudolf</a> and is maintained by
                <a href="https://github.com/PhrozenByte/pico-admin/graphs/contributors">The Pico Community</a>.
                Released under the <a href="https://github.com/PhrozenByte/pico-admin/blob/master/LICENSE">MIT license</a>.
            </p>
        </footer>
    {% endblock %}

    {% block javascript %}
        <script src="{{ admin_theme_url }}/js/utils.js" type="text/javascript"></script>
        <script src="{{ admin_theme_url }}/js/admin.js" type="text/javascript"></script>
        <script src="{{ admin_theme_url }}/js/admin-module.js" type="text/javascript"></script>

        <script type="text/javascript">
            var picoAdmin = new PicoAdmin(
                '{{ admin_auth_client_token|escape("js") }}',
                '{{ ""|admin_link|escape("js") }}'
            );
            picoAdmin.init();
        </script>

        {% if error %}
            <script type="text/javascript">
                picoAdmin.showNotification(
                    {{ error.title|json_encode }},
                    {{ error.message|json_encode }},
                    {{ error.type|json_encode }},
                    {{ error.timeout|json_encode }},
                    {{ error.closeable|json_encode }}
                );
            </script>
        {% endif %}

        {% for module in admin_modules %}
            {% if module.template %}
                {{ include_block(module.template, "javascript") }}
            {% endif %}
        {% endfor %}
    {% endblock %}

</body>
</html>
