{# You may overwrite this template by adding a admin-content.twig to your custom theme #}

{% extends "admin.twig" %}
{% from "_includes/macro-file_navigation.twig" import file_navigation %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/1/simplemde.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ admin_theme_url }}/css/admin-content.css" type="text/css" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/g/codemirror@4(codemirror.min.js+mode/yaml/yaml.js)" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/1/simplemde.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        {# you can overwrite this global variable to modify the options of SimpleMDE in your theme #}
        var simplemdeOptions = {{ config.PicoAdmin.PicoContentAdmin.SimpleMDE|json_encode }};
        var simplemdePreviewUrl = '{{ ( "content/preview/" ~ current_page.id )|admin_link|escape('js') }}';
    </script>

    <script src="{{ admin_theme_url }}/js/admin-content.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="yamlContainer">
        <textarea>{{ yaml_content|escape('html') }}</textarea>
    </div>

    <div class="markdownContainer">
        <textarea>{{ markdown_content|escape('html') }}</textarea>
    </div>

    <script type="text/javascript">
        simplemdeOptions.element = document.querySelector(simplemdeOptions.element);
        simplemdeOptions.yamlElement = document.querySelector(simplemdeOptions.yamlElement);

        var markdownEditor, yamlEditor;
        window.requestAnimationFrame(function () {
            markdownEditor = new SimpleMDE(simplemdeOptions);

            var content = document.getElementById('content');
            content.insertBefore(markdownEditor.gui.toolbar, content.firstChild);

            var footer = document.querySelector('footer');
            footer.insertBefore(markdownEditor.gui.statusbar, footer.firstChild);
        });

        window.requestAnimationFrame(function () {
            yamlEditor = new CodeMirror.fromTextArea(simplemdeOptions.yamlElement, { mode: 'yaml' });
            yamlEditor.on('change', function (editor) { editor.save(); });
        });
    </script>
{% endblock %}

{% block nav %}
    {% if file_navigation['.'] is defined %}
        <h3>Pico Content Admin</h3>
        <ul class="fa-ul">
            {{ file_navigation(file_navigation['.']['children'], config.content_ext) }}
        </ul>
    {% endif %}
{% endblock %}
